.dark_mode {
    position: absolute;
    top: -1px;
    left: 1%;
    transform: scale(1);
    transition: transform 0.3s;
  }
  
  @media (max-width: 768px) {
    .dark_mode {
      top: 10px;
      left: 10px;
      transform: scale(0.8);
    }
  }
  .dark_mode_label {
    width: 40px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 3px 8px rgba(0, 0, 0, 0.3),
      inset 0px -3px 8px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .dark_mode_label:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }
  .dark_mode_input {
    display: none; /* Hide the checkbox */
  }
  .dark_mode_input:checked + .dark_mode_label {
    background: #242424;
  }
  
  .dark_mode_input:checked + .dark_mode_label:after {
    left: 36px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  
  .dark_mode_label:active:after {
    width: 20px;
  }
  
  .dark_mode_label svg {
    position: absolute;
    width: 12px;
    top: 3px;
    z-index: 100;
  }
  
  .dark_mode_label svg.sun {
    left: 3px;
    fill: #fff;
    transition: 0.3s;
  }
  
  .dark_mode_label svg.moon {
    left: 24px;
    fill: #7e7e7e;
    transition: 0.3s;
  }
  
  .dark_mode_input:checked + .dark_mode_label svg.sun {
    fill: #7e7e7e;
  }
  
  .dark_mode_input:checked + .dark_mode_label svg.moon {
    fill: #fff;
  }